version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: match-learn:latest
    env_file: .env
    ports:
      - "3000:3000"
    restart: unless-stopped
    profiles: [ prod ]

  web-dev:
    image: node:20-alpine
    working_dir: /app
    command: sh -lc "npm i && npm run dev"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    profiles: [ dev ]
